<div class="box">
	<div class="aboutlinks">
		<ul>
	  		<% if user_signed_in? %>
	  		  <li><%= link_to 'Edit account', edit_user_registration_path %></li>
	  		  <li><%= link_to 'Sign out', destroy_user_session_path, :method=>'delete' %></li>
	  		<% else %>
	  		  <li><%= link_to 'Sign in', new_user_session_path %></li>
	  		  <li><%= link_to 'Sign up', new_user_registration_path %></li>
	  		<% end %>
	  		<li><a href="pages/about.html">About</a></li>
	    	<li><a href="mailto:adam@scarf.ly">Contact</a></li>
	  	</ul>
	 </div>
	<h1>About</h1>

	<p><span class="title">What is Scarf.ly?</span>Scarf.ly is a place for soccer neckwear enthusiasts to explore, browse, and trade scarfs with other like-minded fans. You'll be able to catalog and add photos of your collection, learn the stories behind your favorite editions, add scarfs you desire to a wishlist, and send messages to other scarf fans to help faciliate trades and exchanges.</p>&nbsp;
	<p><span class="title">Seriously?</span>Yup.</p>&nbsp;
	<p><span class="title">How can I help?</span>Interested developers and designers, and anyone else, please <a href="mailto:adam@scarf.ly">contact me</a> to help out.<br><br>Check out our <a href="http://twitter.com/go_scarfly">Twitter feed @go_scarfly</a> to stay up to date with our development, drop us a suggestion, or whatever else you want.. </p>&nbsp;
</div>

<!--
BEGIN FOOTER
AREA HERE
-->


<!--
END PAGE CONTENT
ABOVE
-->