	<h1>Scarf.ly</h1>
	  <h2>A community of discerning soccer neckwear enthusiasts.</h2>
	  <h3><a href="https://twitter.com/search?q=%23showusyourscarf%20since%3A2014-08-01&src=typd">#showusyourscarf</a></h3>
	

	<div class="row-fluid">
		  <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
			<div class="box-color">  
			  	<h3><%= link_to 'Explore:', scarves_path %></h3>
			  	<p>Browse the Scarf.ly gallery and easily researchand discover your favorite club's scarves!</p>
		 	</div>
		 </div>

		  <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
		  	<div class="box-color"> 
		  		<h3>Register:</h3>
		  		<p>Sign up and join us! Show the football world the scarves you have collected and which you would like to acquire. </p>
		 	</div>
		 </div>
	</div>

