<div class="box first">
<div class="aboutlinks">
<ul>
  <li><a href="about.html">About</a></li>
    <li><a href="mailto:adam@scarf.ly">Contact</a></li>
  </ul>
  </div>
<h1>Scarf.ly</h1>
  <h2>A community of soccer neckwear enthusiasts.</h2>

<div class="emailform">
<!-- Begin MailChimp Signup Form -->
<form action="http://Scarf.us8.list-manage.com/subscribe/post?u=28abb1590096c38184c5e2a3b&amp;id=c1623c415e" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate>

<input type="email" value="" name="EMAIL" class="email" id="mce-EMAIL" placeholder="Email me when it's ready" required><input type="submit" value="Subscribe" name="subscribe" id="mc-embedded-subscribe">
</form>
<!--End mc_embed_signup-->
</div>
</div>

<!--
BEGIN FOOTER
AREA HERE
-->


<!--
END PAGE CONTENT
ABOVE
-->

